body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    height: 10000px;
}
header{
}
nav{
    display:fixed;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content:space-around;
}
nav ul.list1{
    margin-right : 10px
}
nav ul.list2{
    margin-left : 10px
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav li{
    display: inline;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #ffcc00;
}